
$colors: (gblack: #14191f,
m_gblack: #303336,
l_gblack: #606364,
navy:#15332e,
green: #ccdbd1,
white: #f7f7f7,
dark-border: #30353c,
gray: #e0e0e0,
mgray: #e6e6e6,
lgray: #eee,
gblue:#00a4eb,
l_gblue:#2ca8dd,
d_gblue:#0013ff,
transparent:transparent,
primary_color:#00a4eb,
secondary_color:#0013ff,
regular_text:#303336,
dark_text:#14191f,
light_text:#606364,
white-text:#f7f7f7,
border: #e0e0e0,
light_border: #e6e6e6,
dark_border: #cdcdcd,
field_bg: #f0f0f0,
light_field_bg: #f4f4f4,
button_bg:#00a4eb,
button_bg_hover:#2ca8dd,
button_border: #2ca8dd,
button_border_hover: #2ca8dd,
pure_black:#000,
pure_white:#fff,
signal_red_text: #d14b3c,
signal_green_text: #2c9e5b,
signal_yellow_text: #db8600,
signal_blue_text: #0075b3,
signal_red_text_bg: #fbede9,
signal_green_text_bg: #eefcf4,
signal_yellow_bg: #fef5e6,
signal_blue_bg: #e5f6ff,
);
$base_colors: (
	body_color: map-get($map: $colors, $key: regular_text),
	selection_color: map-get($map: $colors, $key: white-text),
	selection_bgcolor: map-get($map: $colors, $key: primary_color),
	caption_color: map-get($map: $colors, $key: light_text),
	link_color: map-get($map: $colors, $key: primary_color),
	link_border_color: map-get($map: $colors, $key: primary_color),
	link_color_hover: map-get($map: $colors, $key: primary_color),
	link_border_color_hover: transparent,
	list_marker_bgcolor: map-get($map: $colors, $key: primary_color),
	ol_list_marker_color: map-get($map: $colors, $key: regular_text),
	blockquote_color: map-get($map: $colors, $key: regular_text),
	blockquote_border_color: map-get($map: $colors, $key: regular_text),
	quote_color: map-get($map: $colors, $key: regular_text),
	blockqoute_cite_color: map-get($map: $colors, $key: light_text),
	table_border_color: map-get($map: $colors, $key: border),
	table_head_border_color: map-get($map: $colors, $key: dark_text),
	table_foot_border_color: map-get($map: $colors, $key: dark_text),
	heading_color: map-get($map: $colors, $key: dark_text),
	heading_link_color: map-get($map: $colors, $key: dark_text),
	heading_link_color_hover: map-get($map: $colors, $key: dark_text),
	abbr_border_color: map-get($map: $colors, $key: regular_text),
	strong_color: map-get($map: $colors, $key: regular_text),
	underline_border_color: map-get($map: $colors, $key: regular_text),
	delete_color: map-get($map: $colors, $key: signal_red_text),
	insert_color: map-get($map: $colors, $key: signal_green_text),
	insert_border_color: map-get($map: $colors, $key: signal_green_text),
	code_color: map-get($map: $colors, $key: white-text),
	code_bgcolor: map-get($map: $colors, $key: dark_text),
	pre_color: map-get($map: $colors, $key: white-text),
	pre_bgcolor: map-get($map: $colors, $key: dark_text),
	hr_bgcolor: map-get($map: $colors, $key: border),
	mark_bgcolor: map-get($map: $colors, $key: dark_text),
	mark_color: map-get($map: $colors, $key: white-text),
	input_color: map-get($map: $colors, $key: regular_text),
	input_bgcolor: map-get($map: $colors, $key: light_field_bg),
	input_border_color: map-get($map: $colors, $key: border),
	input_focus_border_color: map-get($map: $colors, $key: dark_border),
	disabled_input_bgcolor: map-get($map: $colors, $key: field_bg),
	disabled_input_border_color: map-get($map: $colors, $key: light_border),
	placeholder_color: map-get($map: $colors, $key: light_text),
	range_track_bgcolor: map-get($map: $colors, $key: field_bg),
	range_thumb_bgcolor: map-get($map: $colors, $key: primary_color),
	color_field_border_color: map-get($map: $colors, $key: border),
	color_field_bgcolor: map-get($map: $colors, $key: field_bg),
	radio_color: map-get($map: $colors, $key: regular_text),
	radio_border_color: map-get($map: $colors, $key: border),
	radio_bgcolor: map-get($map: $colors, $key: field_bg),
	radio_after_bgcolor: map-get($map: $colors, $key: primary_color),
	checkbox_color: map-get($map: $colors, $key: regular_text),
	checkbox_border_color: map-get($map: $colors, $key: border),
	checkbox_bgcolor: map-get($map: $colors, $key: field_bg),
	checkbox_after_bgcolor: map-get($map: $colors, $key: primary_color),
	progress_bgcolor: map-get($map: $colors, $key: field_bg),
	progress_value_bgcolor: map-get($map: $colors, $key: primary_color),
	meter_bgcolor: map-get($map: $colors, $key: field_bg),
	meter_value_bgcolor: map-get($map: $colors, $key: primary_color),
	button_bgcolor: map-get($map: $colors, $key: button_bg),
	button_color: map-get($map: $colors, $key: white-text),
	button_color_hover: map-get($map: $colors, $key: white-text),
	button_bgcolor_hover: map-get($map: $colors, $key: button_bg_hover),
	reset_button_bgcolor: map-get($map: $colors, $key: button_bg_hover),
	reset_button_color: map-get($map: $colors, $key: white-text),
	datepicker_bg_color: map-get($map: $colors, $key: light_border),
	datepicker_select_bgcolor: map-get($map: $colors, $key: light_border),
	datepicker_link_color: map-get($map: $colors, $key: white-text),
	datepicker_calendar: map-get($map: $colors, $key: white-text),
	datepicker_th_bgcolor: map-get($map: $colors, $key: light_border),
	datepicker_even_tr_td_bgcolor: map-get($map: $colors, $key: light_border),
	datepicker_border_color: map-get($map: $colors, $key: light_border),
	datepicker_date_color: map-get($map: $colors, $key: dark_text),
	valiation_error_bg_color: map-get($map: $colors, $key: signal_red_text_bg),
	valiation_message_color: map-get($map: $colors, $key: signal_red_text),
	error_field_border_color: map-get($map: $colors, $key: signal_red_text),
	valiation_error_color: map-get($map: $colors, $key: signal_red_text),
	confirmation_message_bgcolor: map-get($map: $colors, $key: signal_green_text_bg),
	confirmation_message_color: map-get($map: $colors, $key: dark_text),
	confirmation_message_border_color: map-get($map: $colors, $key: dark_text),
	required_text_color: map-get($map: $colors, $key: signal_red_text),
	fileupload_rule_color: map-get($map: $colors, $key: light_text),
	invalid_error_border_color: map-get($map: $colors, $key: signal_red_text),
	hubspot_error_label_color: map-get($map: $colors, $key: signal_red_text),
	hubspot_required_color: map-get($map: $colors, $key: signal_red_text),
	acc_btn_color: map-get($map: $colors, $key: white-text),
	acc_btn_bgcolor: map-get($map: $colors, $key: button_bg),
	acc_btn_shadow: map-get($map: $colors, $key: signal_red_text),
	comments_reply_btn_bgcolor: map-get($map: $colors, $key: button_bg),
	comments_reply_btn_color: map-get($map: $colors, $key: white-text),
	comments_reply_btn_bgcolor_hover: map-get($map: $colors, $key: button_bg_hover),
	comments_reply_btn_color_hover: map-get($map: $colors, $key: white-text),
	comment_meta_color: map-get($map: $colors, $key: dark_text),
	comment_metadata_color: map-get($map: $colors, $key: light_text),
	comments_list_border_color: map-get($map: $colors, $key: border),
	pagination_bgcolor: map-get($map: $colors, $key: light_border),
	pagination_color: map-get($map: $colors, $key: dark_text),
	pagination_color_hover: map-get($map: $colors, $key: white-text),
	pagination_bgcolor_hover: map-get($map: $colors, $key: button_bg_hover),
	pagination_bgcolor_current: map-get($map: $colors, $key: button_bg_hover),
	pagination_color_current: map-get($map: $colors, $key: white-text),
	pagination_first_bgcolor: map-get($map: $colors, $key: light_border),
	pagination_first_color: map-get($map: $colors, $key: dark_text),
	pagination_border: map-get($map: $colors, $key: transparent),
	widget_comments_meta_color: map-get($map: $colors, $key: light_text),
	widget_latest_post_meta_color: map-get($map: $colors, $key: signal_red_text),
	widget_rss_feed_meta_color: map-get($map: $colors, $key: signal_red_text),
	widget_search_button_color: map-get($map: $colors, $key: pure_black),
	wp_table_block_stripe_bg_color:map-get($map: $colors, $key: pure_white),
	dark_text_color: map-get($map: $colors, $key: pure_black),
	white-text_color: map-get($map: $colors, $key: pure_white),
	breadcrumb_color: map-get($map: $colors, $key: pure_black),
	breadcrumb_link_color: map-get($map: $colors, $key: pure_black),
	breadcrumb_border_color: transparent,
	breadcrumb_border_color_hover: map-get($map: $colors, $key: pure_black),
	breadcrumb_span_color: map-get($map: $colors, $key: pure_black),
	theme_btn_color: map-get($map: $colors, $key: white-text),
	theme_btn_bgcolor: map-get($map: $colors, $key: button_bg),
	theme_btn_bgcolor_hover: map-get($map: $colors, $key: button_bg_hover),
	theme_btn_color_hover: map-get($map: $colors, $key: white-text),
	theme_btn_border_color:map-get($map: $colors, $key: button_border,),
	theme_btn_border_color_hover:map-get($map: $colors, $key: button_border_hover,),
	wp_btn_color: map-get($map: $colors, $key: white-text),
	wp_btn_bgcolor: map-get($map: $colors, $key: button_bg),
	wp_outline_btn_border_color: map-get($map: $colors, $key: dark_text),
	wp_outline_btn_color: map-get($map: $colors, $key: white-text),
	wp_outline_btn_bgcolor: map-get($map: $colors, $key: dark_text),
	error_menu_color: map-get($map: $colors, $key: dark_text),
	footer_bgcolor: map-get($map: $colors, $key: dark_text),
	footer_color: map-get($map: $colors, $key: white-text),
	f_widget_border_color: map-get($map: $colors, $key: white-text),
	f_nav_color: map-get($map: $colors, $key: white-text),
	f_nav_after_bgcolor: map-get($map: $colors, $key: white-text),
	copyright_color: map-get($map: $colors, $key: white-text),
	legal_nav_color: map-get($map: $colors, $key: white-text),
	legal_nav_after_bgcolor: map-get($map: $colors, $key: white-text),
	legal_text_color: map-get($map: $colors, $key: white-text),
	header_fixed_bg_color: map-get($map: $colors, $key: light_border),
	header_bgcolor: map-get($map: $colors, $key: white-text),
	header_nav_color: map-get($map: $colors, $key: dark_text),
	header_nav_after_bgcolor: map-get($map: $colors, $key: dark_text),
	header_nav_second_ul_bgcolor: map-get($map: $colors, $key: light_border),
	header_nav_second_link_color: map-get($map: $colors, $key: dark_text),
	header_nav_second_link_color_hover: map-get($map: $colors, $key: dark_text),
	mobile_nav_color: map-get($map: $colors, $key: dark_text),
	mobile_nav_sub_link_color: map-get($map: $colors, $key: dark_text),
	nav_overlay_bgcolor: map-get($map: $colors, $key: light_border),
	mobile_nav_icon_bgcolor:map-get($map: $colors, $key: dark_text),
	abbr_border: map-get($map: $colors, $key: dark_text),
);
